.mainContainer {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.innerContainer {
  width: 100%;
  max-width: 700px;
}

.mainHeading {
  font-size: 4rem;
  font-weight: 400;
  line-height: 1.2;
}
.text {
  font-size: 18px;
  line-height: 1.5;
}


@media(max-width: 732px) {
  .mainHeading {
    font-size: 3rem;
  }
  .text {
    font-size: 1rem;
  }
}
